<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Coding AI Assistant</title>
    <link href="{{ url_for('static', filename= 'styles/style.css')}}" rel ="stylesheet" />
</head>
<body>
    <div class="container">
        <form action="/coding", id="myForm">
            <table>
                <tr>
                    <td><label for="term">Term:</label></td>
                    <td><input type="text" id="term" name="term" value="{{ term }}" class='input-left' placeholder="Search..."></td>
                    <td><button type="submit">Search</button></td>
                    <td><label for="dict">Dictionary:</label></td>
                    <td><select id="dict" name="dict" class="input-right">
                          <option value="MedDRA">MedDRA</option>
                          <option value="WHODD">WHODD</option>
                        </select>
                    </td>
        
                    <td><label for="version">Version:</label></td>
                    <td><select id="version" name="version" class="input-right">
                        <option value="26.1">26.1</option>
                        <option value="26">26</option>
                    </select>
                   </td>

                   <td><label for="top_k">Top-k:</label></td>
                   <td><select id="top_k" name="top_k" value="{{ top_k }}" onChange="generateTable(json_data)" class="input-right">
                       <option value="1">1</option>
                       <option value="5">5</option>
                       <option value="10">10</option>
                       <option value="20">20</option>
                       <option value="50">50</option>
                       <option value="100">100</option>
                   </select>
                  </td>
                </tr>
            </table>
        </form>
    </div>

    <div id="table-container">
        <!-- Table will be generated here -->
    </div>
    
    <script>
        // JSON data
        var json_data = JSON.parse('{{ json_data | tojson | safe}}');
        var json_key = ['term', 'llt_code', 'llt_name', 'pt_code', 'pt_name', 'soc_name', 'soc_code', 'hlt_name', 'hlt_code', 'hlgt_name', 'hlgt_code'];
        var json_label = ['Term', 'LLT Code', 'LLT Name', 'PT Code', 'PT Name', 'SOC Name', 'SOC Code', 'HLT Name', 'HLT Code', 'HKGT Name', 'HLGT Code'];

        // Function to generate HTML table from JSON data
        function generateTable(data) {
            var top_k = document.getElementById("top_k").value;
            var table = '<table border="1">';
            table += '<tr>';
//            for (var key in data[0]) {
//                table += '<th>' + key + '</th>';
//            }
            json_key.forEach(function(key) {
                    table += '<th><strong>' + json_label[json_key.indexOf(key)] + '</strong></th>';
                });
  
            table += '</tr>';
            for (var i = 0; i < Math.min(data.length, top_k); i++) {
                table += '<tr>';
        //        for (var key in data[i]) {
                  json_key.forEach(function(key) {
                      table += '<td>' + data[i][key] + '</td>';
                });
            //    }
                table += '</tr>';
            }
            table += '</table>';
            
            document.getElementById("top_k").value = top_k;
            document.getElementById('table-container').innerHTML = table;
//        return table;
        }

        // Add table to the container
        generateTable(json_data);
        //document.getElementById('table-container').innerHTML = generateTable(json_data);
    </script>

</body>
</html>
