<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Coding AI Assistant</title>
    <link href="{{ url_for('static', filename= 'styles/style.css')}}" rel ="stylesheet" />
</head>
<body>
  <div class="container">
    <form action="/coding", id="myForm">
     <table>
        <tr>
            <td><label for="term">Term:</label></td>
            <td><input type="text" id="term" name="term" class='input-left' placeholder="Search..."></td>
            <td><button type="submit">Search</button></td>
            <td><label for="dict">Dictionary:</label></td>
            <td><select id="dict" name="dict" class="input-right">
                  <option value="MedDRA">MedDRA</option>
                  <option value="WHODD">WHODD</option>
                </select>
            </td>

            <td><label for="version">Version:</label></td>
            <td><select id="version" name="version" class="input-right">
                <option value="26.1">26.1</option>
                <option value="26">26</option>
            </select>
           </td>
 
           <td><label for="top_k">Top-k:</label></td>
           <td><select id="top_k" name="top_k" class="input-right">
               <option value="1">1</option>
               <option value="5">5</option>
               <option value="10">10</option>
               <option value="20">20</option>
               <option value="50">50</option>
               <option value="100">100</option>
           </select>
          </td>

        </tr>
      </table>
   </form>
  </div>

</body>
</html>
